<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792725473760-noqo49smt92dbhf9ghpvv6ceb7p334te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792725473760-noqo49smt92dbhf9ghpvv6ceb7p334te</string>
	<key>API_KEY</key>
	<string>AIzaSyCsRAEwE0pk8Tm2BISNY7XRw6sMBBgXIGU</string>
	<key>GCM_SENDER_ID</key>
	<string>792725473760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.komuniti</string>
	<key>PROJECT_ID</key>
	<string>komuniti-68cad</string>
	<key>STORAGE_BUCKET</key>
	<string>komuniti-68cad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792725473760:ios:604ea9c79b2d536513c385</string>
</dict>
</plist>